= form_for :session do |f|
  %h1 Do you have an account already?
  %p
    = f.label :username
    = f.text_field :username
  %p
    = f.label :password
    = f.password_field :password
  %p
    = submit_tag "Sign in"

= form_for @gamer do |f|
  %h1 Or not?
  %p
    = f.label :username
    = f.text_field :username
  %p
    = f.label :email
    = f.email_field :email
  %p
    = f.label :password
    = f.password_field :password
  %p
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  %p
    = submit_tag "Sign up"
