.vote { color: LightSteelBlue;}
.votes:hover .vote { color: gold; }
.votes.voted_by_user:hover .vote { color: gold; }
.votes:hover .vote:hover + .vote { color: gray; }
.votes:hover .vote:hover + .vote + .vote { color: gray; }
.votes:hover .vote:hover + .vote + .vote + .vote { color: gray; }
.votes:hover .vote:hover + .vote + .vote + .vote + .vote { color: gray; }

.votes.voted_by_user .vote { color: gray; }
.votes.voted_by_user .vote.current_rank { color: gold; }
