!!!
%html
  %head
    %meta{:charset => "UTF-8"}
    %title  Game demo.
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #top_bar
      - if current_user
        You are signed in as
        = current_user.username
        = link_to "sign out", logout_path
      - else
        You are not signed in
        = link_to "change that", login_path
    #notice= notice
    #alert= alert
    #content
      = yield
    #footer
      = raw "&copy;" * 20
